html {
  scroll-behavior: smooth;
}

/************ Starlight Additions/Overrides ************/

.sl-container:where(.astro-7nkwcw3z) {
  max-width: 50rem;
}

starlight-toc {
  a {
    transition: transform 0.2s ease;
    transform-origin: left;

    span {
      position: relative;
      display: inline-block;
      transition: color 0.2s ease;

      &::before {
        content: "";
        position: absolute;
        left: -8px;
        top: 0;
        bottom: 0;
        width: 3px;
        background-color: transparent;
        border-radius: 2px;
        transition: background-color 0.2s ease;
      }
    }
  }

  a[aria-current="true"] {
    transform: scale(1.04);

    span {
      &::before {
        background-color: var(--sl-color-text-accent);
      }
    }
  }
}

#starlight__search mark {
  color: hsl(339.8, 63.4%, 60.4%);
}

#starlight__mobile-toc {
  > .dropdown {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.6);
  }
}

.expressive-code .copy > button {
  height: 2rem;
  width: 2rem;
}

/************ Details/Summary Styles ************/
.main-pane {
  details {
    background: hsla(225.4, 16.5%, 48.8%, 0.11);
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    display: block;
  }

  details[open] {
    max-width: 100%;

    > div.details-wrapper {
      overflow-x: auto;
      max-height: 75vh;
      overflow-y: auto;
      padding-right: 1rem;
      padding: 0.5rem 1rem;
    }

    p > img {
      height: auto;
      width: auto;
    }
  }
}

/********** MathJax/LaTeX Styling **********/
mjx-container[jax="SVG"] {
  > svg {
    display: unset;
  }
}

/********** TikZ SVG Styling **********/
script[type="text/tikz"] {
  display: block;
}

div > div[class="page"] > svg {
  color-scheme: light dark;

  html[data-theme="light"] & {
    stroke: currentColor;
    fill: currentColor;
  }

  html:not([data-theme="light"]) & {
    stroke: white;
    fill: white;
    filter: invert(1) hue-rotate(180deg);
  }
}

/********** Mimic Bootstrap Class Utilities **********/
.visually-hidden {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden !important;
}

.visible {
  display: block !important;
}

.text-center {
  text-align: center !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

/* Overflow utilities */
.overflow-auto {
  overflow: auto !important;
}

.overflow-y-auto {
  overflow-y: auto !important;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

/* Padding and Margin Utilities */
/* Exposes utility classes like .p-0, .p-1, .pt-2, .mb-3, ..., .m-6, .gap-6 */

$spacings: (
  p: padding,
  pt: padding-top,
  pb: padding-bottom,
  ps: padding-left,
  pe: padding-right,
  m: margin,
  mt: margin-top,
  mb: margin-bottom,
  ms: margin-left,
  me: margin-right,
  gap: gap,
  gap-row: row-gap,
  gap-col: column-gap,
);

@each $class, $property in $spacings {
  .#{$class}-0 {
    #{$property}: 0 !important;
  }

  $scalar: 0.125;
  $accumulated: 0;

  @for $i from 1 through 6 {
    $scalar: $scalar + ($i % 2) * $scalar;
    $accumulated: $accumulated + $scalar;

    .#{$class}-#{$i} {
      #{$property}: #{$accumulated}rem !important;
    }
  }
}
